* {
  color-scheme: light dark;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  border: none;
  font-family: system-ui;
}

body {
  background-image: linear-gradient(180deg, #0e678f, #e4a16d);
  background-repeat: no-repeat;
  height: 100vh;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
